/* styles.css */

@font-face {
    font-family: 'Agharti Bold Semi Wide';
    src: url('../fonts/AghartiFamilyTest-SemiWideBold-BF66722ee18752b.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Aplicar la fuente al logo */
.navbar-brand {
    font-family: 'Agharti Bold Semi Wide', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.display-4 {
    font-family: 'Agharti Bold Semi Wide', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 2px;
}


/* Ajustar el alto de la sección de inicio */
#inicio {
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

#inicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bar-background.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Adjust the opacity to make the image semi-transparent */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}

/* Estilos para las secciones */
section {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Estilo para las tarjetas del menú */
.card img {
    height: 200px;
    object-fit: cover;
}

/* Estilos para la sección de redes sociales */
#redes-sociales {
    background-color: #333;
}

#redes-sociales h2 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

#redes-sociales a {
    transition: color 0.3s ease;
}

#redes-sociales a:hover {
    color: #f8c146; /* Un color dorado para resaltar cuando se pasa el mouse */
}


/* Hacer que el iframe del mapa sea responsive */
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 0;
}


/* Ajustes para el formulario de contacto */
form .form-control {
    border-radius: 0;
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
