/* styles.css */

@font-face {
    font-family: 'Agharti Bold Semi Wide';
    src: url('../fonts/AghartiFamilyTest-SemiWideBold-BF66722ee18752b.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

h2, h3 {
    font-family: 'Agharti Bold Semi Wide', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

/* También podrías hacerlo para h1, h3, etc. si lo deseas */
h1 {
    font-family: 'Agharti Bold Semi Wide', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff; /* Ajusta el color según tus necesidades */
}

/* Aplicar la fuente al logo */
.navbar-brand {
    font-family: 'Agharti Bold Semi Wide', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Cambiar el color de fondo del navbar */
.navbar {
    background-color: #53b0ab !important;
}


.display-4 {
    font-family: 'Agharti Bold Semi Wide', sans-serif;
    font-size: 8rem;
    font-weight: bold;
    letter-spacing: 2px;
}



/* Ajustar el alto de la sección de inicio */
#inicio {
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

#inicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bar-background.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Adjust the opacity to make the image semi-transparent */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}

/* Estilos para las secciones */
section {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Estilo para las tarjetas del menú */
.card img {
    height: 200px;
    object-fit: cover;
}

/* Estilo para el botón "Ver Menú" */
.btn-primary {
    background-color: #53b0ab;
    border-color: #53b0ab;
}

.btn-primary:hover {
    background-color: #45a098;
    border-color: #45a098;
}

/* Estilo para el botón "Enviar" */
.btn-secondary {
    background-color: #47a8a4;
    border-color: #47a8a4;
}

.btn-secondary:hover {
    background-color: #3d918e;
    border-color: #3d918e;
}


/* Estilos para la sección de redes sociales */
#redes-sociales {
    background-color: #333;
}

#redes-sociales h2 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

/* Estilo para los iconos de las redes sociales */
#redes-sociales a {
    transition: color 0.3s ease;
    color: white; /* Color por defecto de los iconos */
}

#redes-sociales a:hover {
    color: #53b0ab; /* El mismo color que el navbar */
}

/* Ajustes adicionales para aumentar la especificidad si es necesario */
#redes-sociales a:hover .fab {
    color: #53b0ab !important;
}


/* Hacer que el iframe del mapa sea responsive */
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 0;
}


/* Ajustes para el formulario de contacto */
form .form-control {
    border-radius: 0;
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
